{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p><strong>What is rDrafts?</strong></p>

    <p>rDrafts is a third party application that lets you draft a Reddit post, preview it, share it with others, save it for later, and ultimately submit it to Reddit. We created rDrafts to make it easier to plan a Reddit post ahead of time such as AMAs, long-form text posts, announcements by moderators, and late night inspirations.</p>
    <p>You should not use rDrafts if you do not have prior experience submitting posts to Reddit.</p>

    <p>This application interfaces with Reddit, but has no affiliation with reddit inc.</p>

    <div class="divider"></div>

    <p><strong>Things You Should Know</strong></p>

    <ul>
        <li>Reddit is a community of people. Respect the community by adhering to their <a href="http://www.reddit.com/wiki/reddiquette" target="_blank">etiquette</a> and <a href="https://www.reddit.com/help/contentpolicy" target="_blank">rules</a>.</li>
        <li>rDrafts was created by <a href="{{ url_for('about') }}">GroupSRC</a>. We are an independent consulting firm and we specialize in helping businesses and leaders engage the Reddit platform responsibily. We have no affiliation with Reddit.</li>
    </ul>
    
    <div class="divider"></div>

    <div id="home-get-started">
        <h2>Ready to get started?</h2>
        <p>We strongly encourage you to read everything above carefully before clicking the button below.</p>
        <p><a class="btn btn-large btn-primary btn-shadow" href="{{ url_for('login') }}">Get Started</a></p>
    </div>

{% endblock %}
