{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p><strong>What is redditDrafts?</strong></p>
    <p>RedditDrafts is a third party application that lets you draft a reddit post, preview it, share it with others, save it for later, and ultimately submit it to reddit. This application interfaces with reddit, but has no affiliation with reddit inc.</p>

    <div class="divider"></div>

    <p><strong>Why use redditDrafts?</strong></p>
    <p>RedditDrafts makes it easier to plan a reddit post ahead of time. You can create your draft, preview it, share it with others, save it, and then submit it when you are ready. No more drafting reddit posts in word processors. No more scrambling to setup and format your post right before you want to submit it.</p>

    <p>You should not use redditDrafts if you do not have prior experience submitting posts to reddit. If you are new to reddit, read our <a href="http://marketersguidetoreddit.com/beginners-guide-to-reddit-for-marketers/">Beginner's Guide to reddit</a>.</p>

    <div class="divider"></div>

    <p><strong>Things You Should Know</strong></p>

    <ul>
        <li>Reddit is a community of people. Respect the community by adhering to their <a href="http://www.reddit.com/wiki/reddiquette" target="_blank">etiquette</a> and <a href="http://www.reddit.com/rules/" target="_blank">rules</a>.</li>
        <li>RedditDrafts was created by <a href="http://groupsrc.com" target="_blank">GroupSRC</a>. We are an independent consulting firm and we specialize in helping businesses and leaders engage the reddit platform responsibily. We have no affiliation with reddit.</li>
        <li>Users that submit spam or posts that break reddit's rules will be banned.</li>
    </ul>
    
    <div class="divider"></div>

    <div id="home-get-started">
        <h2>Ready to get started?</h2>
        <p>We strongly encourage you to read everything above carefully. Ready? click the button below.</p>
        <p><a class="btn btn-large btn-primary btn-shadow" href="{{ url_for('login') }}">Get Started</a></p>
    </div>

{% endblock %}
