{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p class="text-center" id="view-ama"><a class="btn btn-primary btn-shadow btn-featured" href="{{ thread.reddit_permalink }}?sort=new" target="_blank">Click here to view your post on reddit</a></p>

    <div class="well text-center">
        <strong>Thank you for using our application. Please fill out <a href="http://goo.gl/forms/GL6dTCmrxc" target="_blank">this short survey</a> to help us improve rDrafts.</strong>
    </div>
    
{% endblock %}
