{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p class="text-center" id="view-ama"><a class="btn btn-primary btn-shadow btn-featured" href="{{ thread.reddit_permalink }}?sort=new" target="_blank">Click here to view your post on reddit</a></p>

    <div class="well text-center">
        <p>Thank you for using our application. Please fill out <a href="http://goo.gl/forms/GL6dTCmrxc" target="_blank">this short survey</a> to help us improve rDrafts.</p>

        <div class="divider"></div>

        <h3><strong>Interested in reddit marketing?</strong></h3>
        <p>rDrafts was created by GroupSRC, a marketing firm that specializes in reddit. We believe there are effective and responsible strategies for engaging the reddit community. Enter your email below to subscribe to our newsletter and receive free information about reddit marketing.<p>

        <div class="AW-Form-1159022567"></div>
        <script type="text/javascript">(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//forms.aweber.com/form/67/1159022567.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, "script", "aweber-wjs-d37kj4rlz"));
        </script>

        <strong>Or go to <a href="http://marketersguidetoreddit.com" target="_blank">MarketersGuideToReddit.com</a> to learn more about reddit marketing.</strong>

    </div>
    
{% endblock %}
