{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p class="text-center" id="view-ama"><a class="btn btn-primary btn-shadow btn-featured" href="{{ thread.reddit_permalink }}?sort=new" target="_blank">Click here to view your post on reddit</a></p>

    <div class="divider"></div>

    <h3>Thank You</h3>

    <p>Thank you for using our application. If you have any feedback, please send us a note using <a href="http://goo.gl/forms/GL6dTCmrxc" target="_blank">this form</a>.</p>
    </div>
{% endblock %}
